<footer>
  <div class="container mx-auto">
    <div class="payment-methods flex items-center mb-[32px]">
      <img
        src="assets/images/payment_methods.png"
        class="mr-[20px]"
        alt="pay methods"
        height="22px"
      />
      <img
        src="assets/images/payment_methods2.png"
        alt="pay methods 2"
        height="22px"
      />
    </div>
    <div class="copyrights">
      <span class="adults"> 18+ </span>
      <span>PERMISSION # 19-05/305 - PERMISSION # 19-06/083</span>
      <span>COPYRIGHT © 2018 BETLIVE.COM</span>
    </div>
  </div>
</footer>
