<nav>
  <ul>
    <li>
      <a href="#sport"> {{ "sport" | translate }} </a>
    </li>
    <li>
      <a href="#slot"> {{ "slot" | translate }} </a>
    </li>
    <li>
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        {{ "casino" | translate }}
      </a>
    </li>
    <li>
      <a href="#tableGames"> {{ "tableGames" | translate }} </a>
    </li>
    <li>
      <a href="#poker"> {{ "poker" | translate }} </a>
    </li>
    <li>
      <a href="#miniGames">{{ "miniGames" | translate }} </a>
    </li>
  </ul>
</nav>
