// colors
$color-blue-900: #242730;
$color-blue-950: #1a1c23;
$color-blue-850: #1F2229;
$color-blue-800: #1D2027;
$color-blue-700: #21242B;
$color-blue-600: #23262E;

$color-gray-600: #2E3139;
$color-gray-550: #363A42;
$color-gray-500: #3D4149;
$color-gray-400: #64676D;
$color-gray-350: #777A7F;
$color-gray-200: #9a979b;




$color-red-300: #F70628;
$color-red-250: #ff1644;

$color-orange-700: #DC4700;

$color-green-primary: #00A83C;
// fonts

$font-inter: 'Inter', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

// ef-x
$transition-primary: all 0.25s ease-in-out;